.theme-card-button {
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
    width: 100%;
    padding: 0;
    text-decoration: none;
    color: inherit;
}
.theme-card-button:hover {
    background: transparent!important;
}
.theme-card-paper {
    width: 100%;
    overflow: hidden;
    border-radius: 10px!important;
    box-shadow: none!important;
}
.theme-card-title {
    margin: 0.1rem 0 0 0;
    font-size: 1.2rem;
    font-weight: normal;
    color: inherit;
}
.theme-card-button:hover > div, .theme-card-button:focus > div {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,0.18), 0 5px 6px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12)!important;
}
.theme-card-button:focus > .theme-card-title {
    text-decoration: underline;
}
.theme-card-default {
    padding-bottom: 73.33333%;
    width: 100%;
}
