.edit-plans-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    margin: 2rem 0;
}
.edit-plans-container-mobile > button {
    width: 100%;
    margin: 2rem 0;
}
.or-vertical-divider {
    display: flex;
    height: 5rem;
    flex-direction: column;
    align-items: center;
}
.or-horizontal-divider {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}
.plan-img {
    border: 1px solid black;
    width: 40%;
    max-width: 500px;
    min-width: 350px;
}
.plan-button {
    width: 40%;
    max-width: 500px;
    min-width: 350px;
    margin: 0.5rem 0 2rem 0!important;
}
@media only screen and (max-width: 800px){
    .plan-img, .plan-button {
        width: 100%;
        max-width: unset;
        min-width: unset;
    }
    .mobile-full-width {
        width: 100%!important;
    }
}
