| Par Le Monde
| --------------------------------------
|
| Bonjour,
| Pas la peine de vous inquiéter. Vous pouvez réinitialiser votre mot de passe en cliquant sur le lien ci-dessous :
|
| #{resetUrl}
|
| Si vous n'avez pas demandé la réinitialisation de votre mot de passe, vous pouvez ignorer cet email.
|
| Cordialement,
| L'équipe Par Le Monde.
| #{frontUrl}
|
| --------------------------------------
| Ce message a été envoyé à #{receiverEmail}. Si vous avez des questions ou ne souhaitez plus recevoir d'emails, contactez-nous à l'adresse #{plmoEmail} 
