.login-form {
    width: 400px;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 1.5rem;
}

.login-form > div, .login-form > button, .login-form > label {
    margin-top: 1.5rem;
    width: 100%;
}

@media only screen and (max-width: 800px) {
    .login-form {
        width: 100%;
    }
}
